//  Typography
//  ───────────────────────────────────

.title {
  font-size: map-get($font-size, large);
  font-weight: map-get($font-weight, bold);
  color: $color-title;
  span {
    font-weight: map-get($font-weight, normal);
  }
}

.text {
  color: $color-text;
  font-size: map-get($font-size, base);
}
