
// Intro
.intro {
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  @include position(relative, top -80px);
  overflow: hidden;
  &-bg {
    background-repeat: no-repeat;
    background-position: 130% 70%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
  }
  .container {
    @include flexbox();  
    @include justify-content(space-between); 
    @include align-items(center);
    height: 100%;
    position: relative;
    z-index: 2;
  } 
}

// Social
.social {
  font-size: map-get($font-size, x-small);
  @include position(absolute, top 60%);
  @include flexbox(); 
  @include align-items(center); 
  transform: rotate(-90deg);
  color: $color-title;
  z-index: 3;
  &:after {
    content: '';
    @include position(absolute, top 8px right -50px);
    background: $color-text;
    width: 40px;
    height: 1px;
  } 

  // List
  &-list {
    @include position(absolute, left 120px);
    @include flexbox(); 
    @include justify-content(space-between); 
    width: 120px;
    a {
      transform: rotate(90deg);
      color: $color-text;
      font-size: map-get($font-size, base);
      &:hover {
        color: $color-primary;
      }
    }
  }
}

// About
.about {
  padding: 100px 0;
  margin: 50px 0;
  position: relative;
  overflow: hidden;
  // background: #f9f9f9;
  &:after {
    content: '';
    top: 70px;
    left: -120px;
    position: absolute;
    width: 170px;
    height: 300px;
    background-image: url(https://i.ibb.co/1qFcZn5/path.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .container {
    @include flexbox();  
    @include justify-content(space-between); 
    @include align-items(center);
  } 

  // Caption
  &-caption {
    flex: 1;
    margin-right: 100px;
  }  

  // Caption
  &-image {
    flex: 1;
  }  
}

// Services
.services {
  padding: 50px 0;
  .container {
    @include flexbox();  
    @include justify-content(space-between); 
    @include align-items(center);
  }

  // Caption
  &-caption {
    flex: 1;
    padding-right: 200px;
  }

  // Items
  &-items {
    flex: 1;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap: 25px;
  }

  // Card
  &-card {
    min-height: 280px;
    @include flexbox();  
    @include flex-direction(column); 
    @include align-items(center);
    @include justify-content(center);
    text-align: center;
    background: $color-white;
    box-shadow: 0px 5px 30px 0px rgba(0, 40, 243, 0.1);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    font-size: map-get($font-size, base);
    &:nth-child(even) {
      top: 130px;
    }
  }

  &-icon {
    font-size: map-get($font-size, xxxlarge);
    color: $color-primary;
  }

  &-name {
    margin: 10px 0;
    font-weight: map-get($font-weight, bold);
    color: $color-title;
  }

  &-description {
    margin-bottom: 20px;
  }

  &-learn {
    color: $color-secondary;
  }
}

// Portfolio
.portfolio {
  padding: 100px 0;
  
  // Caption
  &-caption {
    @include flexbox();  
    @include flex-direction(column); 
    margin: auto;
    width: 30%;
  }
  
  // Category
  &-category {
    @include flexbox();  
    @include justify-content(center); 
    margin-bottom: 20px;
    li {
      display: block;
      padding: 20px;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
  }
  
  // Gallery
  &-gallery {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
    a {
      min-height: 250px;
      display: block;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.1);
          transition: all .2s;
        }
      }
      img {
        width: 100%;
        height: 100%;
        transform: scale(1);
      }
      &:first-child { // First of list
        grid-row: span 2 / auto;
      }
      &:nth-child(6) { // Child 6 of list
        img {
          height: 280px;
        }
      }
    }
  }
}

// Reviews
.reviews {
  padding: 50px 0;
  position: relative;
  &:after {
    content: '';
    @include position(absolute, top 0px left -100px);
    width: 350px;
    height: 600px;
    background-image: url(https://i.ibb.co/1qFcZn5/path.png);
    background-repeat: no-repeat;
  }
  .container {
    @include flexbox();  
    @include justify-content(space-between); 
    @include align-items(center);
  }

  &-start {
    color: #ED8A19;
    font-size: 16px;
    margin-bottom: 10px;
    i {
      margin-right: 5px;
    }
  }

  &-caption {
    flex: 1;
    padding-left: 150px;
  }

  &-users {
    flex: 1;
    @include flexbox();  
    @include justify-content(flex-end); 
  }
}

// Tegnologies
.tegnologies {
  padding: 50px 0;
  position: relative;
  height: 500px;
  .container {
    @include flexbox();  
    @include justify-content(space-between); 
    @include align-items(center);
  }

  &-items {
    position: relative;
    flex: 1;
  }

  &-caption {
    flex: 1;
  }
}