
// Intro
.intro {
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  @include position(relative, top -80px);
  overflow: hidden;
  &-bg {
    @include respond-to(desktop) {
      background-repeat: no-repeat;
      background-position: 130% 70%;
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
    }
  }
  .container {
    @include flexbox();  
    @include justify-content(space-between); 
    @include align-items(center);
    height: 100%;
    position: relative;
    z-index: 2;
  } 

  &-caption {
    @include flexbox();  
    @include flex-direction(column);  
    @include justify-content(center); 
    @include align-items(center);
    width: 100%;
    @include respond-to(desktop) {
      display: block;
    }
  }
}

// Social
.social {
  font-size: map-get($font-size, x-small);
  @include position(absolute, top 70% left 10%);
  @include flexbox(); 
  @include align-items(center); 
  color: $color-title;
  z-index: 3;
  @include respond-to(desktop) {
    transform: rotate(-90deg);
    @include position(absolute, top 60% left 0);
  }
  &:after {
    content: '';
    @include position(absolute, top 8px right -50px);
    background: $color-text;
    width: 40px;
    height: 1px;
  } 

  // List
  &-list {
    @include position(absolute, left 120px);
    @include flexbox(); 
    @include justify-content(space-between); 
    width: 120px;
    a {
      color: $color-text;
      font-size: map-get($font-size, base);
      &:hover {
        color: $color-primary;
      }
      @include respond-to(desktop) {
        transform: rotate(90deg);
      }
    }
  }
}

// About
.about {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  @include respond-to(desktop) {
    margin: 50px 0;
  }
  &:after {
    @include respond-to(desktop) {
      content: '';
      top: 70px;
      left: -120px;
      position: absolute;
      width: 170px;
      height: 300px;
      background-image: url(https://i.ibb.co/1qFcZn5/path.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  .container {
    @include flexbox();  
    @include justify-content(space-between); 
    @include align-items(center);
    @include flex-direction(column);

    @include respond-to(desktop) {
      @include flex-direction(row);
    }
  } 

  // Caption
  &-caption {
    text-align: center;
    margin-bottom: 50px;
    @include respond-to(desktop) {
      margin-bottom: 0px;
      text-align: left;
      flex: 1;
      margin-right: 100px;
    }
  }  

  // Caption
  &-image {
    width: 250px;
    @include respond-to(desktop) {
      width: 100%;
      flex: 1;
    }
  }  
}

// Services
.services {
  padding: 50px 0;
  .container {
    @include flexbox();  
    @include justify-content(space-between); 
    @include align-items(center);
    @include flex-direction(column);

    @include respond-to(desktop) {
      @include flex-direction(row);
    }
  }

  // Caption
  &-caption {
    margin-bottom: 50px;
    text-align: center;
    @include respond-to(desktop) {
      text-align: left;
      margin-bottom: 0px;
      flex: 1;
      padding-right: 200px;
    }
  }

  // Items
  &-items {
    @include respond-to(desktop) {
      flex: 1;
      display: grid;
      grid-template-columns: 250px 250px;
      grid-gap: 25px;
    }
  }

  // Card
  &-card {
    min-height: 280px;
    @include flexbox();  
    @include flex-direction(column); 
    @include align-items(center);
    @include justify-content(center);
    text-align: center;
    background: $color-white;
    box-shadow: 0px 5px 30px 0px rgba(0, 40, 243, 0.1);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    font-size: map-get($font-size, base);
    margin-bottom: 50px;
    @include respond-to(desktop) {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      @include respond-to(desktop) {
        top: 130px;
      }
    }
  }

  &-icon {
    font-size: map-get($font-size, xxxlarge);
    color: $color-primary;
  }

  &-name {
    margin: 10px 0;
    font-weight: map-get($font-weight, bold);
    color: $color-title;
  }

  &-description {
    margin-bottom: 20px;
  }

  &-learn {
    color: $color-secondary;
  }
}

// Portfolio
.portfolio {
  padding: 50px 0;
  @include respond-to(desktop) {
    padding: 100px 0;
  }
  
  // Caption
  &-caption {
    @include flexbox();  
    @include flex-direction(column); 
    margin: auto;
    width: 100%;
    text-align: center;
    @include respond-to(desktop) {
      text-align: left;
      width: 30%;   
    }
  }
  
  // Category
  &-category {
    @include flexbox();  
    @include justify-content(center); 
    margin-bottom: 20px;
    li {
      display: block;
      padding: 10px;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
      @include respond-to(desktop) {
        padding: 20px;
        font-size: 16px;
      }
    }
  }
  
  // Gallery
  &-gallery {
    @include respond-to(desktop) {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-gap: 20px;
    }
    a {
      min-height: 250px;
      display: block;
      overflow: hidden;
      margin-bottom: 25px;
      @include respond-to(desktop) {
        margin-bottom: 0px;
      }
      &:hover {
        img {
          transform: scale(1.1);
          transition: all .2s;
        }
      }
      img {
        width: 100%;
        height: 100%;
        transform: scale(1);
        object-fit: cover;
      }
      &:first-child { // First of list
        grid-row: span 2 / auto;
      }
      &:nth-child(6) { // Child 6 of list
        img {
          height: 280px;
        }
      }
    }
  }
}

// Reviews
.reviews {
  padding: 50px 0;
  position: relative;
  &:after {
    @include respond-to(desktop) {     
      content: '';
      @include position(absolute, top 0px left -100px);
      width: 350px;
      height: 600px;
      background-image: url(https://i.ibb.co/1qFcZn5/path.png);
      background-repeat: no-repeat;
    }
  }
  .container {
    @include flexbox();  
    @include justify-content(space-between); 
    @include align-items(center);
    @include flex-direction(column);

    @include respond-to(desktop) {
      @include flex-direction(row);
    }
  }

  &-start {
    color: #ED8A19;
    font-size: 16px;
    margin-bottom: 10px;
    i {
      margin-right: 5px;
    }
  }

  &-caption {
    margin-bottom: 50px;
    text-align: center;
    @include respond-to(desktop) {
      text-align: left;
      margin-bottom: 0px;
      flex: 1;
      padding-left: 150px;
    }
  }

  &-users {
    width: 250px;
    @include respond-to(desktop) {
      width: 100%;
      flex: 1;
      @include flexbox();  
      @include justify-content(flex-end); 
    }
  }
}

// Tegnologies
.tegnologies {
  padding: 50px 0;
  position: relative;
  @include respond-to(desktop) {
    height: 500px;
  }
  .container {
    @include flexbox();  
    @include justify-content(space-between); 
    @include align-items(center);
    @include flex-direction(column);

    @include respond-to(desktop) {
      @include flex-direction(row);
    }
  }

  &-items {
    order: 2;
    @include respond-to(desktop) {
      order: 1;
      position: relative;
      flex: 1;
    }
  }
  
  &-caption {
    order: 1;
    text-align: center;
    margin-bottom: 50px;
    @include respond-to(desktop) {
      margin-bottom: 0px;
      text-align: left;
      order: 2;
      flex: 1;
    }
  }
}