
// Intro
.intro {
  background-repeat: no-repeat;
  background-position: 241% 62%;
  width: 100%;
  height: 100vh;
  z-index: 1;
  @include position(relative, top -80px);
  .container {
    @include flexbox();  
    @include justify-content(space-between); 
    @include align-items(center);
    height: 100%;
  } 
}

// Social
.social {
  font-size: map-get($font-size, x-small);
  @include position(absolute, top 60%);
  @include flexbox(); 
  @include align-items(center); 
  transform: rotate(-90deg);
  &:after {
    content: '';
    @include position(absolute, top 8px right -50px);
    background: --color-gray-4;
    width: 40px;
    height: 1px;
  } 

  // List
  &-list {
    @include position(absolute, left 120px);
    @include flexbox(); 
    @include justify-content(space-between); 
    width: 100px;
    a {
      transform: rotate(90deg);
      color: --color-gray-4;
      font-size: map-get($font-size, base);
      &:hover {
        color: --color-primary;
      }
    }
  }
}

// About
.about {
  padding: 50px 0;
  .container {
    @include flexbox();  
    @include justify-content(center); 
    @include align-items(center);
  }   
}